html {
    font-family: arial, helvetica, sans-serif;
}

.carte {
    margin: 50px auto;
    height: auto;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carte img {
    width: 100%;
    height: auto;
}

.carte h3 {
    padding: 10px;
}

.carte p {
    padding: 10px;
}